
.App {
    width: 50%;
    margin: 0 auto;
}

button {
    padding: 5px 10px;
    background-color: rgb(238, 131, 8);
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: orange;
}